*{
    margin:0px;
    padding:0px;
}
.Box{
    list-style: none;
}
.Box li{
    height: 50px;
}
.Head{
    background-color: rgba(82,146,254,);
    height: 50px;
    width: 120%;
    margin: -10px 0 0 -15px ;
}